.wrap{
    margin: 0 auto;
    width: 940px;
    background-color: teal;
   
}

.header{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: tomato;

}
.button{
    background-color: blue;
    /*border: 5px solid red;*/
    color: white;
    border-radius: 30px;
    
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: no-drop;

}


.button:hover{
    background-color: teal;
}

.link{
    cursor: no-drop;
    
}

.header__buttons{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

